.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
}
.footer__description {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
